*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  background-color:white;
  color: black;
  font-style: normal;
  font-weight: 200;
  background-image: url("https://s3.us-east-2.amazonaws.com/traffickwise/waterbg.jpg?response-content-disposition=inline&X-Amz-Security-Token=FQoDYXdzEK3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDA4eReh%2Fxtx3Hesv0CK4AzaOZwXJSCSqAQ5afRhh5lpSVYwrs85qozk9goY2Rbuz8pO4eVB7ZwZ%2B%2FiYrSYmwlBh0nSt6iZLaPhh55TMDxGFQXo3RkmRX9t5IIPXM8VST%2Bpv4VX84RSkcXOfqrRfwnJkj5o15WY7sX6t98mNaZyA16pqnNmt4xJFa%2FNN84b%2FpYdYbF6Ate7mD6vbjxLEZXhuu36CMTfTdiZxAf34V4vY6T6%2BT7Qddj2vd8LnglW2FlU%2FkNBMuVY276L67JNm9qEMP9AdOO6ZtIE28WRAgw7VbUeP19S5U5nzFwbL1VwXB%2FbCWvWqEALHJr89DD866SkHA0cS2byjiShXin%2F644KIHxMFktL6mSkMs85T8y6kfUtnhz3SzYk2ddlUVUKbZLwM9OayVZXrMff4cLwJARPZWabNxk%2Bs4c50yy8jdybSTDMFtSLIgEWUjzd4Dmnc8QfYkii3FnHGgbX7SEHZ5OcnYjjNwNnij8Z5RlO1wkA31baRMK85Ry7gshwoRGB5l5DOftgagjo43iPsFgevDHU4bgKzXxmibBS3nxaUO%2BmsIJWx9ikYiLaXSrLslsMS2FAb9MHAkmEjrKLnOldkF&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180616T201721Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAJ6ZBYU3GBWBESWQQ%2F20180616%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=28a8f1b4a01b835ec8b0b87060c4ae7c862cf84b672b2a0f5c1cc0afd59338da")

}
.container{
  width: 960px;
  margin: 0 auto;
  background-color: white;

}
.wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(75px, auto);
  grid-gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: 100px;
  background-color: white;

}
header{
  position: fixed;
  font-size: 1em;
  font-family: 'Anton', sans-serif;
  display: block;
  width: 100%;
  background-color: rgb(70, 110, 116);
  color: white;
  height: 100px;
  padding: 4px;

}
.logo{
  position: absolute;
  top: 0%; left: 40px;
  color: white;
}
.footer-nav{
  height: 5px;
  margin: auto;
  padding-top: 30px;
  line-height: 15px;
  right: 15px;  
  margin-left: 70%;
  }

.footer{
  font-size: 1em;
  height: 100px;
  background-color:rgb(70, 110, 116);
  grid-column:1/13; 
  text-decoration: none;
}

header ul li{
  list-style-type: none;
  display: inline-block;

}
footer ul li{
  list-style-type: none;
  display: inline-block;
}
  .header-nav{
  height: 5px;
  margin: auto;
  padding-top: 30px;
  align-content: center;
  line-height: 15px;
  right: 15px;  
  margin-left: 70%;
}

.firstul,
.lastul{
  margin: 5px;
}

a{
  font-size: 1.6em;
  line-height: normal;
  color: black;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: rgb(168, 170, 161);
  transition-duration: .4s;
}

.home-content{
  color: white;
  grid-column: 2/12;
  grid-row: 3/auto;
  position: relative;
}

.bender-resources{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  align-content: left;
  font-size: 1.5em;
  list-style-type: disc;
  grid-column: 2/11;
}
.bender-resources-quote{
  width: 100%;
  text-align: center;
  grid-column: 7/10;
  grid-row: 3/5;
  padding-top: 100px;
  margin: auto;
  font-weight:400;
}
.resources-list-organizations{
  text-align: left;
  align-content: left;
  line-height: 250%;
  grid-column: 3/7;
  grid-row: 2/4;
}
.resources-list-books{
  text-align: left;
  grid-column: 3/6;
  grid-row: auto/5;
  line-height: 250%;
  position: static;
}
.resources-list-safehomes{
  width: 100%;
  text-align: center;
  grid-column: 7/12;
  text-align: left;
  /* grid-row: 2/4; */
  line-height: 250%;
}
.resources-list-documentaries{
  width: 100%;
  text-align: left;
  grid-column: 7/12;
  /* grid-row: auto/4; */
  line-height: 250%;
}
.resources-list-schoolcurriculum{
  width: 100%;
  grid-column: 7/12;
  grid-row: 4/4;
  text-align: left;
  line-height: 250%;
}
.resources-list-additional{
  width: 100%;
  grid-column: 7/12;
  text-align: left;
  line-height: 250%;
}

.bender-resources, ul{
  align-content: left;
  list-style-type: disc;
  text-align: left;
}

.wrapper-contact{
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

/* tipline styling */
@font-face {
font-family: 'AvenirLTStd-Black';
src:	url('http://www.missingkids.org/etc/clientlibs/ncmec/fonts/AvenirLTStd-Webfont/AvenirLTStd-Medium.otf');
font-style: normal;
font-weight: 500;
}
.wrapper-tipline{
  align-content: center;
}
.cybertipline-banner{
font-family: 'AvenirLTStd-Black';
}
.cybertipline-banner .form-cover-box {
font-family: 'AvenirLTStd-Black';
border: 1px solid grey;
background-color: white;
padding: 16px;
border-radius: 10px;
width: 100%;
margin: 16px 0px;
}
.cybertipline-banner .form-cover-box label {
padding-left: 5px;
text-align: right;
width: 10%;
margin-left: 40px;
}
.cybertipline-banner .form-cover-box input.texttype {
padding: 1px 2px 2px 1px;
width: 50%;
margin-left: auto;
}
.cybertipline-banner .form-cover-box input.submittype {
display: block;
margin: 0 auto;
border: 1px solid grey;
padding: 5px 16px;
}
.cybertipline-banner .centre-body-cover {
max-width: 300px;
}
.cybertipline-banner .header-box-cover-withborder h2 {
background-color: red;
margin-bottom: 0px;
padding: 16px;
margin-top: 0px;
}
.cybertipline-banner .heading-centre {
margin-right: auto;
margin-left: auto;
width: 70%;
background-color: red;
padding: 5px;
}
.cybertipline-banner .heading-centre:hover {
background-color: yellow;
}
.cybertipline-banner .heading-centre a:hover {
text-decoration: none;
}
.cybertipline-banner .header-box-cover p {
margin-top: 0px;
text-align: left;
font-family: 'AvenirLTStd-Black';
}
.cybertipline-banner .header-box-cover {
width: 100%;
}
.cybertipline-banner .header-box-cover-withborder {
width: 100%;
border: 1px solid red;
}
.cybertipline-banner .header-top1 {
border: 1px solid black;
padding: 16px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-bottom: 0px;
}
.cybertipline-banner .header-top2 {
border: 1px solid black;
padding: 16px;
background-color: black;
color: white;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-top: 0px;
}
.cybertipline-banner h5.textColorLightBlue {
color: #92D6E3;
font-size: 16px;
margin:15px 0;
}
.cybertipline-banner a.textColorLightBlue {
color: #92D6E3;
font-size: 13px;
}
.cybertipline-banner a.textColorLightBlue:hover {
color: #92D6E3;
font-size: 13px;
text-decoration:underline;
}
.cybertipline-banner .header-top2 a {
display: block;
text-align: right;
text-decoration: none;
}
.cybertipline-banner .header-top1 img {
width: 100%;
}
.cybertipline-banner .header-box2 {
padding: 16px;
}
.cybertipline-banner .header-top2 h2 {
font-size: 16px;
font-family: Futura;
}
.cybertipline-banner .header-top2 p {
font-size: 13px;
}
.cybertipline-banner .text-align-centre {
text-align: centre;
}

/* icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
  text-decoration: none;
  background-color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: black;
  color: white;
}
.fa-twitter {
  background: black;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

footer a{
  padding: 0;
}
